<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: rgb(237, 243, 246);" class="navbar-brand">Events</h1>
        <div class="d-flex">
        
            <button routerLink="/cart" class="btn btn-danger mx-3">Cart</button>
            <button routerLink="/login" class="btn btn-danger mx-3">Logout</button>
            
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Id-ul eveninimentului</th>
            <th scope="col">Denumire</th>
            <th scope="col">ZiDesfasurare</th>
            <th scope="col">Pret</th>
            <th scope="col">Numar de bilete</th>
            <th scope="col">Categorie</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of eventData">
            <td>{{row.id}}</td>
            <td>{{row.denumire}}</td>
            <td>{{row.ziDesfasurare}}</td>
            <td>{{row.pret}}</td>
            <td>{{row.numarBilete}}</td>
            <td>{{row.categorie}}</td>
        
            <td>
                <button  (click)="addToCart(row)" class="btn btn-success mx-3" >Add to Cart</button>
            </td>
        </tr>

    </tbody>
</table>
