<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="box">
                  <div class="text-center mb-4">
                    <form [formGroup]="formpay">
                      <div class="container">
                        <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Amount to pay: {{ price}}$ </label>
                          </div>
                        <div class="mb-3">
                          <label for="validationCustom01" class="form-label">Full Name</label>
                          <input type="text"  formControlName="FullName"  class="form-control" id="validationCustom01" placeholder="John John">
                          <span class="text-danger" *ngIf="formpay.controls['FullName'].dirty && formpay.hasError('required','FullName')">*Full name is required</span>
                        </div>
                        <div class="mb-3">
                          <label for="validationCustom02" class="form-label">Card Number</label>
                          <input type="text"  formControlName="CardNumber" class="form-control" id="validationCustom02" placeholder="1234567891234">
                          <span class="text-danger" *ngIf="formpay.controls['CardNumber'].dirty && formpay.hasError('required','CardNumber')">*Card number is required</span>
                        </div>
                        <div class="mb-3">
                          <label for="validationCustomUsername" class="form-label">Expire Date</label>

                            <input type="text"  formControlName="ExpireDate"  class="form-control" id="validationCustomUsername" placeholder="MM/YY">
                            <span class="text-danger" *ngIf="formpay.controls['ExpireDate'].dirty && formpay.hasError('required','ExpireDate')">*Expire date is required</span>
                        
                          
                        </div>
                        <div class="mb-3">
                          <label for="validationCustom03" class="form-label">CVV/CVC</label>
                          <input type="text"  formControlName="CVV"  class="form-control" id="validationCustom03" placeholder="123">
                          <span class="text-danger" *ngIf="formpay.controls['CVV'].dirty && formpay.hasError('required','CVV')">*CVV is required</span>
                        
                        </div>

                       
                        <div class="form-group form-check">
                          <input type="checkbox" formControlName="AcceptTerms" id="acceptTerms" class="form-check-input"  />
                          <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                         
                        </div>
                        <div class="mb-3">
                         
                           <button class="btn btn-primary" type="submit" [disabled]="!formpay.valid"   (click)="onSubmit()">Make payment</button> 
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>